

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border: darkcyan;
}

body{
    background-color: #2f67b1;
}

form {
    background-color: rgb(160, 155, 155);
    border-radius: 10px;
    padding: 40px;
    width: 70%;
    margin: 40px auto;
    box-shadow: 5px 5px 10px #272727;
}

label {
    font-weight: bold;
    
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: midnightblue;
    color: #fff;
    background-color: #333;
    margin-top: 20px;

}

input[type="submit"]:hover {
    background-color: #444;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border-bottom: 3px solid midnightblue;;
    padding: 10px;
    border-radius: 10px;
    box-shadow: dark;
    background-color: rgb(202, 198, 198);
    text-align: center;
    font-size: 120%;
}

td input[type="text"] {
    width: 90%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
